<div class="confirmation__modal">
  <p>
    {{content}}
  </p>
  <button *ngIf="buttonKeywords.No"(click)="onCancel()" mat-raised-button>{{buttonKeywords.No}}</button>
  <button  (click)="onYes()" mat-raised-button class="btn--blue">{{buttonKeywords.Yes}}</button>
</div>