body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    line-height: 1.42857142857143;
}


/* preface styling */

.aui-page-panel {
    padding: 40px 40px 20px;
}

div.preface_main ul {
    list-style: disc;
    margin-left: 0px;
}

.preface_main li {
    margin-left: 0px;
    padding-left: 0px;
}

ul.toc-indentation li {
    padding: 3px;
    list-style: disc;
}

ul.toc-indentation li a {
    text-decoration: none;
}


/* preface styling */

hr {
    border: none;
    border-bottom: 1px solid #ccc;
}


/* table  */

table {
    display: table;
    border-spacing: 2px;
    border-color: grey;
}

.confluenceTable:first-child,
.table-wrap:first-child {
    margin-top: 0;
}

.confluenceTable,
.table-wrap {
    margin: 10px 0 0 0;
    overflow-x: auto;
}

.confluenceTable {
    border-collapse: collapse;
}

.confluenceTable,
.table-wrap {
    margin: 10px 0 0 0;
    overflow-x: auto;
}

table.confluenceTable th.confluenceTh,
td.confluenceTd.highlight-grey > p {
    background-color: #f0f0f0;
}

.confluenceTh,
.confluenceTd {
    border: 1px solid #ddd;
    padding: 7px 10px;
    vertical-align: top;
    text-align: left;
    min-width: 8px;
}

.confluenceTh {
    font-size: 14px;
}

.confluenceTd {
    font-size: 14px;
}


/* table  */

.confluence-information {
    background: #fcfcfc;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 10px 0 1em 0;
    min-height: 20px;
    padding: 10px 10px 10px 36px;
    position: relative;
}


/* Headings and paragraphs */

.user-manual-p {
    color: rgb(0, 0, 0);
}

p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.h_span {
    color: #3c8dbc;
    font-weight: bold;
}

.manual-span {
    font-size: 14px;
}

.sub-head {
    text-decoration: underline;
    color: #286690;
}

.page-title {
    font-size: 28px;
    font-weight: 400;
    color: rgb(23, 43, 77);
}

.toc-indentation {
    font-size: 14px;
}

.wiki-content h1 {
    font-size: 27px;
    font-size: 1.43em;
    font-weight: normal;
}

.wiki-content h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
}

.wiki-content h3 {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(23, 43, 77) !important;
    font-weight: 400;
    margin: 30px 0 0 0;
}

.call-search-h3 {
    margin-top: auto !important;
}

.user-manual-h1 {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.hr-main {
     overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.hr-main:before {
     display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/* Headings and paragraphs */

.users_sub {
    margin-top: 10px;
    font-size: 14px;
}

ul.users_sub li {
    padding: 2px;
}

img.confluence-image-border {
    border: 1px solid black;
}


/* float button */

.float-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    font-size: 12px;
    background-color: #3C8DBC;
    border-radius: 24px;
    z-index: 99;
    border: none;
}

.material-icons {
    color: white;
    margin-top: 3px;
}

html {
    scroll-behavior: smooth;
}


/* float button */